<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{%block content%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Chota URL Shortner</h1>
    <p class="lead">Enter URl Here to get Shorten Link </p>
  </div>
</div>
<form method="POST">
  {% csrf_token %}
  <div class="form-group container">
    <label for="exampleInputEmail1"><b>Enter URL/LINK</b></label>
    <input type="url" class="form-control" id="exampleInputEmail1" name="input_url" required>
    <small id="emailHelp" class="form-text text-muted">Easiest way to short url and share anywhere.</small><br><br>

  <button type="submit" class="btn btn-primary btn-lg btn-success">Submit</button>
  </div>


</form>




{% endblock %}
</body>
</html>